@font-face{
    font-family: omoriI;
    src: url(OMORI_GAME.ttf);
}

body{
    font-family: omoriI;
    background-color: black;
    font-size: x-large;
    width: 90%;
}
div{
    padding: 20%;
}

h1{
    color: white;
}

h2{
    color: black;
}

.aaa{
    float: left;
}