@font-face{
    font-family: omorisisas;
    src: url(OMORI_GAME2.ttf);
}
.p{
    height: 5cm;
    width: 10cm;
    text-align: center;
}
a:focus{
    background: #650bf5;
}

body{
    background-color: #adfcff;
    font-family: omorisisas;
    font-size: 200%;
    width: 90%;
    margin: 0px auto;
}
header{
    height: 150px;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    line-height: 150px;
    background: #cfb7f4;
    background: -moz-linear-gradient(top,  #cfb7f4 0%, #adfcff 72%, #adfcff 72%);
    background: -webkit-linear-gradient(top,  #cfb7f4 0%,#adfcff 72%,#adfcff 72%);
    background: linear-gradient(to bottom,  #cfb7f4 0%,#adfcff 72%,#adfcff 72%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb7f4', endColorstr='#adfcff',GradientType=0 );
    border-radius: 10px;
}
#logo{
    width: 320px;
    float: left;
}
nav ul li a{
    float: left;
    margin: 10px;
    line-height: 30px;
}

div{
    padding-top: 10px;
    padding-left: 70px;
}
.nomamess{
    background: #cfb7f4;
    background: -moz-linear-gradient(top, #cfb7f4 0%, #adfcff 50%, #cfb7f4 100%);
    background: -webkit-linear-gradient(top, #cfb7f4 0%,#adfcff 50%,#cfb7f4 100%); 
    background: linear-gradient(to bottom, #cfb7f4 0%,#adfcff 50%,#cfb7f4 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb7f4', endColorstr='#cfb7f4',GradientType=0 );
    border-radius: 10px;
    padding: 0px;
    width: 400px;
    
}
#contenido{
    float: left;
    width: 80%;
}
aside{
    float: left;
    width: 20%;
}

h1{
    color: #7a5cff;
    float: left;
    font-size: 250%;
}
h2{
    color: #650bf5;
}
h3{
    color: #6576b4;
}

a:visited{
    color: rgb(166, 157, 255);
}
a:hover{
    text-decoration: none;
}
a:active{
    color: #adfcff;
}
.ayudaa{
    width: 300px;
    border:2px solid #cfb7f4;
}
