@font-face{
    font-family: omorisisas;
    src: url(OMORI_GAME2.ttf);
}
.p{
    height: 5cm;
    width: 10cm;
    text-align: center;
}


body{
    background-color: #adfcff;
    font-family: omorisisas;
    font-size: 200%;
    width: 90%;
    margin: 0px auto;
}
header{
    height: 200px;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    line-height: 150px;
    padding: 1%;
    background: #cfb7f4;
    background: -moz-linear-gradient(top,  #cfb7f4 0%, #adfcff 72%, #adfcff 72%);
    background: -webkit-linear-gradient(top,  #cfb7f4 0%,#adfcff 72%,#adfcff 72%);
    background: linear-gradient(to bottom,  #cfb7f4 0%,#adfcff 72%,#adfcff 72%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb7f4', endColorstr='#adfcff',GradientType=0 );
    border-radius: 10px;
    
}
/*--------------nav-----------------*/
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #cfb7f4; 
    background: -moz-linear-gradient(top, #cfb7f4 0%, #adfcff 16%, #adfcff 87%, #adfcff 87%, #cfb7f4 100%);
    background: -webkit-linear-gradient(top, #cfb7f4 0%,#adfcff 16%,#adfcff 87%,#adfcff 87%,#cfb7f4 100%);
    background: linear-gradient(to bottom, #cfb7f4 0%,#adfcff 16%,#adfcff 87%,#adfcff 87%,#cfb7f4 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb7f4', endColorstr='#cfb7f4',GradientType=0 );
    border-radius: 10px;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: #7A5CFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover:not(.active){
    background-color: #adfcff;

}


/*-------------fin nav--------------*/
/*-------------Logo----------*/
.logo{

    width: 225px;

    
}
.logotro{
    width: 330px;
}
/*---------fin logo-------*/
header img{
    width: 140%;
}


div{
    padding-top: 10px;
    padding-left: 70px;
}
.nomamess{
    background: #cfb7f4;
    background: -moz-linear-gradient(top, #cfb7f4 0%, #adfcff 50%, #cfb7f4 100%);
    background: -webkit-linear-gradient(top, #cfb7f4 0%,#adfcff 50%,#cfb7f4 100%); 
    background: linear-gradient(to bottom, #cfb7f4 0%,#adfcff 50%,#cfb7f4 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb7f4', endColorstr='#cfb7f4',GradientType=0 );
    border-radius: 10px;
    padding: 0px;
    width: 400px;
    
}


h1{
    color: #7a5cff;

    font-size: 250%;
}
h2{
    color: #650bf5;
}
h3{
    color: #6576b4;
}
/*
a:visited{
    color: rgb(166, 157, 255);
}
a:hover{
    text-decoration: none;
}
a:active{
    color: #adfcff;
}
a:focus{
    background: #650bf5;
}
*/

.ayudaa{
    width: 300px;
    border:2px solid #cfb7f4;
}

.joder{
    width: 200px;
}
.imageen{
    float: left;
    margin: 20px;
}

